<div class="biometric-row">
    <div class="info-side">
      <h3>Huella</h3>
      <p>Sube la huella del propietario.</p>
    </div>

    <div class="card-side">
      <div class="card">

        <div class="icon-circle">
          <div *ngIf="huellaTemplate" class="success-check">✅</div>

          <img *ngIf="!huellaTemplate" src="/images/icon-huella.png" alt="Icono de huella" style="width: 28px; height: 28px; object-fit: contain;">
        </div>
        
        <div class="card-content">
          <h4>Sube una imagen</h4>
          <p>Mín. 400×400px, JPEG, PNG, hasta 5 MB.</p>
          <button (click)="solicitarHuella()" [disabled]="estaCapturando">
            <span *ngIf="estaCapturando" class="spinner"></span>
            {{ huellaTemplate ? 'Reemplazar' : 'Subir' }}
          </button>
        </div>
      </div>
    </div>
  </div>