<div class="biometric-row">
  <div class="info-side">
    <h3>Foto (Opcional)</h3>
    <p>Captura el rostro del conductor.</p>
  </div>

  <div class="card-side">
    <div class="card">
      
      <div class="icon-circle">
        <img *ngIf="fotoBase64" [src]="fotoBase64" class="preview-img" alt="Vista previa">
        
        <img *ngIf="!fotoBase64" src="/images/icon-foto.png" alt="Icono de Foto" style="width: 28px; height: 28px; object-fit: contain;">
      </div>
      
      <div class="card-content">
        <h4>Tomar fotografía</h4>
        <p>Asegúrese de tener buena iluminación.</p>
        <button (click)="abrirCamara.emit()">
          {{ fotoBase64 ? 'Reemplazar Foto' : 'Subir' }}
        </button>
      </div>

    </div>
  </div>
</div>